<header class="tui-text_h6 tui-container_fullwidth header">
  INTUS
  <div *ngIf="user">
    <span (tuiActiveZoneChange)="onActiveZone($event)">
      <a
        tuiLink
        icon="tuiIconChevronDown"
        iconAlign="right"
        [tuiDropdown]="dropdownContent"
        [tuiDropdownManual]="open"
        (click)="onClick()"
      >
        {{ user.email }}
      </a>

      <ng-template #dropdownContent>
        <div class="dropdown tui-text_body-l">
          <ul>
            <li>
              <a tuiLink (click)="logOut()"> Sair </a>
            </li>
          </ul>
        </div>
      </ng-template>
    </span>
  </div>
</header>
