@import '../../../../../styles/variables';
@import '../../../../../../../../node_modules/@taiga-ui/core/styles/taiga-ui-local';

.buttons-header {
  padding-block: 1.5rem;
  padding-inline: 2rem;

  border-radius: .5rem;
  border: 1px solid var(--tui-base-03);

  background-color: var(--tui-base-02);
}

.table {
  width: 100%;
}

