<div>
  <tui-input [formControl]="searchControl" class="tui-space_bottom-8">
    Pesquisar
  </tui-input>
  <tui-loader [overlay]="true" [showLoader]="!!(loading$ | async)">
    <table
      class="table"
      *tuiLet="data$ | async as data"
      [columns]="getColumNames(columns)"
      [direction]="(direction$ | async) || 1"
      (directionChange)="direction$.next($event)"
      tuiTable
    >
      <thead>
        <tr tuiThGroup>
          <ng-container *ngFor="let column of columns">
            <th *tuiHead="column.key" tuiTh [sorter]="null">{{ column.title }}</th>
          </ng-container>
          <th *tuiHead="'actions'" tuiTh [sorter]="null"></th>
        </tr>
      </thead>
      <tbody tuiTbody [data]="data!">
        <tr *tuiRow="let item of data!" tuiTr>
          <ng-container *ngFor="let column of columns">
            <td *tuiCell="column.key" tuiTd>
              {{ item[column.key] }}
            </td>
          </ng-container>

          <td *tuiCell="'actions'" tuiTd>
            <button
              tuiIconButton
              appearance="flat"
              size="s"
              icon="tuiIconDraft"
              title="Editar"
              shape="rounded"
              class="edit"
              (click)="edit(item)"
            ></button>
            <button
              tuiIconButton
              appearance="flat"
              size="s"
              icon="tuiIconTrash"
              title="Remove"
              shape="rounded"
              class="remove"
              (click)="remove(item)"
            ></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td [colSpan]="columns.length">
            <tui-table-pagination
              class="tui-space_top-2"
              [items]="[10, 25, 50, 100]"
              [total]="(total$ | async) || 0"
              [page]="(pagination$ | async) || 0"
              (pageChange)="changePage($event)"
              (sizeChange)="changeSize($event)"
            ></tui-table-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </tui-loader>
</div>
